<footer id="footer">
  <div class="container">
    <div class="row">
      <!-- Columna 1: Logo y descripción -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="footer-logo">
          <img src="assets/images/logos/UPBC_FullColor-H-FondoClaro.png" alt="Logo UPBC">
        </div>
        <p class="footer-description">Universidad Politécnica de Baja California, formando profesionales de excelencia desde 2006.</p>
        <div class="footer-social">
          <a href="https://www.facebook.com/UPBCUNIVERSIDAD" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/upbcuniversidad/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCCROxBHIXoVourok76BnXNA" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
      
      <!-- Columna 2: Enlaces rápidos -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="footer-heading">Enlaces rápidos</h4>
        <ul class="footer-links">
          <li><a href="#">Oferta educativa</a></li>
          <li><a href="#">Admisiones</a></li>
          <li><a href="#">Calendario escolar</a></li>
          <li><a href="#">Servicios escolares</a></li>
          <li><a href="#">Bolsa de trabajo</a></li>
        </ul>
      </div>
      
      <!-- Columna 3: Información de contacto -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="footer-heading">Contacto</h4>
        <ul class="footer-contact">
          <li><i class="fa fa-map-marker"></i> Calle de la Claridad S/N Colonia Plutarco Elías Calles, Mexicali, Baja California, México CP. 21376</li>
          <li><i class="fa fa-phone"></i> (686) 104-2727</li>
          <li><i class="fa fa-envelope"></i> contacto@upbc.edu.mx</li>
        </ul>
      </div>
      
      <!-- Columna 4: Boletín informativo -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 class="footer-heading">Boletín informativo</h4>
        <p>Suscríbete para recibir noticias y actualizaciones de la UPBC.</p>
        <form class="footer-newsletter">
          <input type="email" placeholder="Tu correo electrónico">
          <button type="submit"><i class="fa fa-paper-plane"></i></button>
        </form>
      </div>
    </div>
    
    <!-- Derechos de autor -->
    <div class="row">
      <div class="col-12">
        <div class="footer-copyright">
          <p>&copy; 2025 Universidad Politécnica de Baja California. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
