<!-- Estilos específicos para el menú móvil -->
<link rel="stylesheet" href="BASE_PATH/assets/css/components/mobile-menu.css" class="dynamic-path">

<!-- Sub Header -->
<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <div class="left-content">
          <p>Bienvenidos a la <em>Universidad Politécnica de Baja California</em> - Formando profesionales de excelencia</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="right-icons">
          <ul>
            <li><a href="https://www.facebook.com/UPBCUNIVERSIDAD" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/upbcuniversidad/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCCROxBHIXoVourok76BnXNA" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www2.upbc.edu.mx/alumnos/siaax/" target="_blank" title="SIAAX Alumnos"><i class="fa fa-user"></i></a></li>
            <li><a href="https://www2.upbc.edu.mx/siaax/Defaultx.aspx" target="_blank" title="SIAAX"><i class="fa fa-graduation-cap"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <!-- Overlay para el menú móvil -->
  <div class="mobile-menu-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="BASE_PATH/index.html" class="logo dynamic-path">
            <img src="BASE_PATH/assets/images/logos/UPBC_FullColor-H-FondoClaro.png" alt="Logo UPBC" class="navbar-logo-img dynamic-path">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <div class="menu-container">
            <!-- Contenedor principal del menú con una sola fila -->
            <div class="menu-wrapper">
              <!-- Menú en una sola fila -->
              <ul class="nav single-row-menu">
                <!-- Logo móvil solo visible en menú móvil -->
                <div class="mobile-menu-logo" style="display: none;">
                  <img src="BASE_PATH/assets/images/logos/UPBC_FullColor-H-FondoClaro.png" alt="Logo UPBC" class="navbar-logo-img dynamic-path">
                  <div class="mobile-menu-close"><i class="fa fa-times"></i></div>
                </div>
                <li class="scroll-to-section"><a href="BASE_PATH/index.html" class="nav-link-home dynamic-path">Inicio</a></li>
                <li class="has-sub">
                  <a href="javascript:void(0)">Universidad</a>
                  <ul class="sub-menu">
                    <li><a href="BASE_PATH/historia/historia.html" class="dynamic-path">Historia</a></li>
                    <li><a href="BASE_PATH/mision-vision/mision-vision.html" class="dynamic-path">Misión y visión</a></li>
                    <li><a href="BASE_PATH/universidad/directorio/directorio.html" class="dynamic-path">Directorio</a></li>
                    <li><a href="BASE_PATH/universidad/instalaciones/instalaciones.html" class="dynamic-path">Instalaciones</a></li>
                  </ul>
                </li>
                <li class="has-sub">
                  <a href="javascript:void(0)">Oferta educativa</a>
                  <ul class="sub-menu">
                    <li><a href="BASE_PATH/oferta-educativa/carreras/carreras.html" class="dynamic-path">Carreras</a></li>
                    <li><a href="BASE_PATH/oferta-educativa/posgrados/posgrados.html" class="dynamic-path">Posgrados</a></li>
                    <li><a href="BASE_PATH/oferta-educativa/educacion-continua/educacion-continua.html" class="dynamic-path">Educación continua</a></li>
                    <li><a href="BASE_PATH/oferta-educativa/modalidades-especiales/modalidades-especiales.html" class="dynamic-path">Modalidades especiales</a></li>
                  </ul>
                </li>
                <li class="has-sub">
                  <a href="javascript:void(0)">Admisiones</a>
                  <ul class="sub-menu">
                    <li><a href="BASE_PATH/admisiones/requisitos/requisitos.html" class="dynamic-path">Requisitos</a></li>
                    <li><a href="BASE_PATH/admisiones/proceso-inscripcion/proceso-inscripcion.html" class="dynamic-path">Proceso de inscripción</a></li>
                    <li><a href="BASE_PATH/calendario.html" class="dynamic-path">Calendario escolar</a></li>
                    <li><a href="BASE_PATH/admisiones/costos/costos.html" class="dynamic-path">Costos</a></li>
                  </ul>
                </li>
                <li class="has-sub">
                  <a href="javascript:void(0)">Vida universitaria</a>
                  <ul class="sub-menu">
                    <li><a href="BASE_PATH/vida-universitaria/vida-estudiantil/vida-estudiantil.html" class="dynamic-path">Vida Estudiantil</a></li>
                    <li><a href="BASE_PATH/vida-universitaria/convivencia-equidad/convivencia-equidad.html" class="dynamic-path">Convivencia y Equidad</a></li>
                    <li><a href="BASE_PATH/vida-universitaria/eventos-especiales/eventos-especiales.html" class="dynamic-path">Eventos Especiales</a></li>
                    <li><a href="BASE_PATH/vida-universitaria/bienestar-salud/bienestar-salud.html" class="dynamic-path">Bienestar y Salud</a></li>
                  </ul>
                </li>
                <li class="has-sub">
                  <a href="javascript:void(0)">Servicios</a>
                  <ul class="sub-menu">
                    <li><a href="BASE_PATH/servicios/biblioteca/biblioteca.html" class="dynamic-path">Biblioteca</a></li>
                    <li><a href="BASE_PATH/servicios/laboratorios/laboratorios.html" class="dynamic-path">Laboratorios</a></li>
                    <li><a href="BASE_PATH/servicios/servicios-escolares/servicios-escolares.html" class="dynamic-path">Servicios escolares</a></li>
                    <li><a href="BASE_PATH/becas/becas.html" class="dynamic-path">Becas</a></li>
                  </ul>
                </li>
                <li class="scroll-to-section"><a href="BASE_PATH/index.html#contact" class="nav-link-contact dynamic-path">Contacto</a></li>
                
                <!-- Buscador móvil (solo visible en móvil) -->
                <div class="mobile-search">
                  <div class="search-container-mobile">
                    <input type="text" class="search-input-mobile" placeholder="Buscar...">
                    <button class="search-button-mobile"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <!-- Buscador y botones rápidos (escritorio) -->
          <div class="search-wrapper">
            <div class="search-container">
              <input type="text" class="search-input" placeholder="Buscar...">
              <button class="search-button"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class='menu-trigger'>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
